
body {
    background-color: beige;
    padding: 40px;
}
h1{
    margin-left: 200px;
    font-size: 45px;
    font-family: 'New Rocker', cursive;
}

div.celda {
    width: 45px;
    height: 45px;
    margin: 3px;
    border-radius: 4px;
    background: linear-gradient(to bottom, green, lightgreen);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 40px;
    font-family: 'New Rocker', cursive;
}


div.celda.mina {
    background-color:red;
    background-image: url('../img/bomb-solid.svg');
}


div.celda.oculta, div.celda.mina.oculta {
    background: linear-gradient(to bottom, gray, darkgray);
    cursor: pointer;
}
#reset{
    background: linear-gradient(to bottom, black, gray);
    margin-left:40%;
    width: 120px;
    height: 50px;
    font-size: 200%;
   border-radius:25px;
color: white;
    
}
#mostrar{
    background: linear-gradient(to bottom, black, gray);
    width: 120px;
    height: 50px;
    font-size: 200%;
    border-radius:25px;
    color: white;
   
}
div.campo{
    margin-left:10px;
   
    position: relative;
}
div.over{
    background-image: url('../img/gameover.jpg');
    border-radius:20px;
    width: 800px;
    height: 450px;
    top:23%;
    left:25%;
    font-size: 100%;
    size: 100%;
    position: absolute;
    background-color: black;
}
